<header class="navigation">
  <div class="navigation__inner container">
    <a class="navigation__brand" routerLink="/">
      <img src="assets/images/logos/docroster-mark.svg" alt="DocRoster" />
      <span>DocRoster</span>
    </a>

    <form class="navigation__search" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
      <span class="material-symbols-rounded" aria-hidden="true">search</span>
      <input type="search" formControlName="query" placeholder="Search organizations..." aria-label="Search organizations" />
    </form>

    <div class="navigation__actions">
      <a class="navigation__pill" routerLink="/filters">
        <span class="material-symbols-rounded" aria-hidden="true">filter_alt</span>
        <span>Filters</span>
      </a>
      <a class="navigation__pill navigation__pill--profile" [routerLink]="profileLink()">
        <span class="material-symbols-rounded" aria-hidden="true">account_circle</span>
        <span>{{ profileLabel() }}</span>
      </a>
    </div>
  </div>
</header>
